{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/static/lib/ace.js"></script>  
  <script src="/static/lib/theme-monokai.js"></script> 
  <link rel="stylesheet" href="/static/css/main.css">

  <title>Document</title>

</head> 
<body>
  <header> 
   <img src="/static/images/playbutton.png" id="playbutton" alt="실행"""">
   <img src="/static/images/stop.png" id="stop" alt="멈춤">
   <img src="/static/images/repeat.png" id="repeat" alt="처음부터">
   
  </header>
  
  <div class="editor" id ="editor">aaa</div>

  <div class ="canvas">
   <canvas id="canvas"></canvas>
  </div>
 
  <script src="/static/js/main.js"></script>
  
</body>
</html>